.menu {
    padding: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.sort-toggle {
    width: 100%;
    align-items: center;
    justify-content: space-between;
}